[user]
  name = Kylian Vermeulen
  email = email@kylianvermeulen.com
  signingKey = CA54CE8CCEE23FEB
  username = KylianVermeulen
[github]
  user = KylianVermeulen
[core]
  excludesfile = /Users/kylianvermeulen/.gitignore
  quotepath = false
  autocrlf = input
  safecrlf = warn
  editor = nvim
[commit]
  gpgsign = true  
  template = /Users/kylianvermeulen/.stCommitMsg
[tag]
  forceSignAnnotated = true
[alias]
  co = checkout
  br = branch -a
  s = status -s -u
  c = commit
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg-ascii = log --graph --pretty=format:'%h -%d %s (%cr) <%an>' --abbrev-commit
  lg-simple = log --graph --abbrev-commit --pretty=oneline --all --decorate
[rerere]
  # Enable the recording of resolved conflicts, so that identical hunks can be resolved automatically later on
  enabled = 1
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  stat = true
  conflictstyle = diff3
[gpg]
  program = /usr/local/MacGPG2/bin/gpg2
[pager]
  log = true
[init]
  defaultBranch = master
[maintenance]
  repo = /Users/kylianvermeulen/Documents/Code/NS/Ns.Feature.Vens.Api
  repo = /Users/kylianvermeulen/Documents/Code/NS/Ns.Feature.Vens
  repo = /Users/kylianvermeulen/Documents/Code/NS/Ns.TeamService
  repo = /Users/kylianvermeulen/Documents/Code/NS/Ns.Templates.Infrastructure
  repo = /Users/kylianvermeulen/Documents/Code/NS/Ns.Team.Thor
  repo = /Users/kylianvermeulen/Documents/Code/NS/Ns.MobielPlatform
  repo = /Users/kylianvermeulen/Documents/Code/NS/Ns.App.Wissel
  repo = /Users/kylianvermeulen/Documents/Code/NS/Ns.Atlas.Pipelines
  repo = /Users/kylianvermeulen/Documents/Code/NS/IMKInterfaces
[includeIf "gitdir:~/Documents/Code/NS/"]
  path = ~/.gitconfig-ns
[pull]
	rebase = true
[push]
  autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
