[user]
	name = Kylian Vermeulen
	email = email@kylianvermeulen.com
  signingKey = 176C69A3FD5DC4D3
  username = KylianVermeulen
[github]
  user = KylianVermeulen
[core]
	excludesfile = /Users/kylianvermeulen/.gitignore
  quotepath = false
  autocrlf = input
  safecrlf = warn
  editor = vim
[commit]
  gpgsign = true  
	template = /Users/kylianvermeulen/.stCommitMsg
[tag]
  forceSignAnnotated = true
[alias]
  co = checkout
  br = branch -a
  s = status -s -u
  c = commit
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg-ascii = log --graph --pretty=format:'%h -%d %s (%cr) <%an>' --abbrev-commit
  lg-simple = log --graph --abbrev-commit --pretty=oneline --all --decorate
[rerere]
  # Enable the recording of resolved conflicts, so that identical hunks can be resolved automatically later on
  enabled = 1
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  stat = true
  conflictstyle = diff3
[gpg]
  program = gpg2
[pager]
	log = true
